* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: #2c3e50;
  padding: 15px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1abc9c;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 25px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#about {
  text-align: center;
}

.profile {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-card {
  background: white;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

tr:hover {
  background-color: #f1f1f1;
}

.profile-pic:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #1877f2;
  object-fit: cover;
  margin: 0;
}

.profile-info h2 {
  margin-bottom: 5px;
}

.profile-info p {
  color: #555;
}

@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
    text-align: left;
  }
}

#skills {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background: #2c3e50;
  color: white;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #1abc9c;
}

/* Button */
button {
  margin-top: 15px;
  padding: 10px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #16a085;
}

footer {
  text-align: center;
  padding: 15px;
  background: #2c3e50;
  color: white;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    margin-top: 10px;
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }
}